@import './vars.scss';

.set-green {
	color: $green !important;
}

.set-green-dark {
	color: $green-dark !important;
}

.set-green-light {
	color: $green-light !important;
}

.set-primary {
	color: $primary !important;
}

.set-primary-dark {
	color: $primary-dark !important;
}

.set-primary-light {
	color: $primary-light !important;
}
